* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    position: relative;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: rgba(0, 0, 0, 0.76); 
    z-index: 1;
}

.main-container {

    position: relative; 
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    color: white;
}

.navbar {
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px 0;
    color: white;
}

.nav-button {
    background-color: rgb(255, 7, 7);
    border: solid 2px;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    
}

.nav-button:hover {
    background-color: #000000;
}

.search-bar {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(6, 6, 6);
    font-size: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    width: 90%;
    margin-top: 20px;
    text-align: center;
}

.movie-card {
    background: white;
    width: 70%;
    height : 95%;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.movie-image {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.movie-title {
    margin-bottom: 10%;
    font-size: 1rem;
    font-weight: bold;
}