/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    margin: 0;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75); 
    z-index: 1;
}

.whitebox {
    background-color: rgba(255, 255, 255, 0.146);
    padding: 20px;
    border-radius: 30px;
    box-shadow: none; 
    width: 30%;
    max-width: 600px;
    height: 500px; 
    text-align: center;
    position: relative; 
    z-index: 2; 
}

.whitebox h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem; 
    color: rgb(255, 0, 0);
    margin: 0;
}

.whitebox h2 {
    font-size: 2rem; 
    color: rgb(255, 255, 255);
    margin: 0;
}

input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

#email, #password, #username, #Cpassword, #ProfilePhoto {
    margin: 10px 0;
}

button {
    background-color: #ff0000;
    margin: 10px 0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive Styles */

/* Large Desktops */
@media (min-width: 1281px) {
    .whitebox {
        width: 30%;
        height: 500px;
    }

    .whitebox h1 {
        font-size: 3.5rem;
    }

    .whitebox h2 {
        font-size: 2rem;
    }
}

/* Laptops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .whitebox {
        width: 30%;
        height: 500px;
    }

    .whitebox h1 {
        font-size: 3rem;
    }

    .whitebox h2 {
        font-size: 1.8rem;
    }
}

/* Tablets (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
    .whitebox {
        width: 50%;
        height: 400px;
    }

    .whitebox h1 {
        font-size: 2.5rem;
    }

    .whitebox h2 {
        font-size: 1.5rem;
    }
}

/* Tablets (Landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .whitebox {
        width: 50%;
        height: 400px;
    }

    .whitebox h1 {
        font-size: 2.5rem;
    }

    .whitebox h2 {
        font-size: 1.5rem;
    }
}

/* Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    .whitebox {
        width: 60%;
        height: 350px;
    }

    .whitebox h1 {
        font-size: 2rem;
    }

    .whitebox h2 {
        font-size: 1.2rem;
    }
}

/* Mobiles (Portrait) */
@media (min-width: 320px) and (max-width: 480px) {
    .whitebox {
        width: 80%;
        height: 300px;
    }

    .whitebox h1 {
        font-size: 1.8rem;
    }

    .whitebox h2 {
        font-size: 1rem;
    }

    input {
        padding: 8px;
    }

    button {
        padding: 8px 15px;
    }
}
